<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>Your account has been created but is pending activation</h2>
		<h3>For now the activation link is printed on the console & available below</h3>
		<h3>ex: <pre>activationLink --> /LoginApp/api/activations/{{activationCode}}</pre></h3>
		<a href="#login" class="btn btn-lg btn-default">Return to Login Page</a>
		<a href="/LoginApp/api/activations/{{activationCode}}" class="btn btn-lg btn-primary">Activate My Account</a>
	</div>
</div>
